# The login server URL and OAuth client ID must belong to the same OAuth application.
VITE_LOGINSERVER_URL="https://play.pokemonshowdown.com/api/"
VITE_OAUTH_CLIENTID=""

VITE_API_URL=""
BROWSER=none
