@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  /* @responsive { */
  /* hide scrollbar for chrome, safari and opera  */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* hide scrollbar for ie, edge and firefox  */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* } */
}

html {
  font-size: 16px;
}

:root {
  color-scheme: dark light;
}

input {
  background-color: transparent;
}

textarea:focus,
input:focus {
  outline: none;
}

.modal-wrapper {
  width: 500px;
  height: 600px;
}

.modal {
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

a {
  color: #05A8FC;
}

a:visited {
  color: #C589F9;
}

.novisited:visited {
  color: #05A8FC;
}

/* width */
::-webkit-scrollbar {
  background: transparent;
  border-radius: 10px;
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

table {
  border-collapse: collapse;
  /* Allow table to be responsive */
  width: 100%;
  display: block;
  overflow-x: auto;
}

table td,
table th {
  padding: 4px;
}

.result {
  display: flex;
}

.utilichart .col {
  float: left;
}

.col {
  margin: 5px;

}

span {
  line-height: 1.3;
}

h2 {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hover-color {
  @apply hover:bg-gray-351 dark:hover:bg-gray-350 transition-colors;
}