@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    hide scrollbar for chrome, safari and opera 
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    hide scrollbar for ie, edge and firefox 
    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
  }
}

input{background-color: transparent;}
textarea:focus, input:focus{
  outline: none;
}

.modal-wrapper {
  width: 500px;
  height: 600px;
}

.modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

a {
  color: #05A8FC;
}

a:visited{
  color: #C589F9;
}

.novisited:visited{
  color: #05A8FC;
}

 /* width */
::-webkit-scrollbar {
  width: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
} 
