@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities { */
/*     @variants responsive { */
/*       /* Hide scrollbar for Chrome, Safari and Opera */ */
/*       .no-scrollbar::-webkit-scrollbar { */
/*           display: none; */
/*       } */
/**/
/*       /* Hide scrollbar for IE, Edge and Firefox */ */
/*       .no-scrollbar { */
/*           -ms-overflow-style: none;  /* IE and Edge */ */
/*           scrollbar-width: none;  /* Firefox */ */
/*       } */
/*     } */
/*   } */

input{background-color: transparent;}
textarea:focus, input:focus{
    outline: none;
}

.modal-wrapper {
  width: 500px;
  height: 600px;
}

.modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

a {

}
